.artists {
  width: 100%;
  height: 886px;
  position: relative;
  border: 1px solid transparent;
  overflow: hidden;
}

.artists__title {
  line-height: 88px;
  font-size: 79px;
  font-weight: 400;
  font-family: 'Audiowide';
  width: 1970px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: -191px;
}

.artists__cards {
  width: 1260px;
  height: 678px;
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  margin-left: 40px;
  /* align-self: flex-start; */
  margin-top: 208px;
}

.artists__card {
  width: 245px;
  height: 309px;
}

.artists__card-image {
  width: 245px;
  height: 245px;
  margin-bottom: 20px;
}

.artsts__card-text {
  width: 230px;
  line-height: 24px;
  font-size: 16px;
  font-weight: 400;
  font-family: 'DM Mono';
  display: flex;
  justify-content: center;
}
