.collection {
  width: 1160px;
  display: flex;
  justify-content: space-between;
}

.collection__container {
  width: 417px;
  height: 545px;
}

.collection__title {
  width: 351px;
  line-height: 45px;
  font-size: 38px;
  font-weight: 400;
  font-family: 'Audiowide';
  margin-left: 66px;
  margin-bottom: 41px;
}

.collection__title_color_grey {
  color: #a8a8a8;
}

.collection__image {
  width: 360px;
  height: 360px;
}

.collection__texts {
  width: 580px;
  height: 424px;
}

.collection__text {
  width: 551px;
  line-height: 26px;
  font-size: 15px;
  font-weight: 400;
  font-family: 'Inter';
  margin-bottom: 18px;
}

.collection__text:last-of-type {
  margin-bottom: 36px;
}

.collection__text-green {
  color: #8dfd1b;
  width: 546px;
  line-height: 32px;
  font-size: 21px;
  font-weight: 400;
  font-family: 'DM Mono';
  margin-bottom: 25px;
  padding: 0 22px;
  border-left: 2px solid #8dfd1b;
}

.collection__button {
  background: transparent;
  width: 246px;
  height: 42px;
  color: white;
  line-height: 16px;
  font-size: 16px;
  font-weight: 400;
  font-family: 'DM Mono';
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid green;
}
