.logoholder {
  width: 1160px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logoholder__text {
  width: 96px;
  line-height: 12px;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 1px;
  font-family: 'DM Mono';
  color: #8dfd1b;
  margin-left: 80px;
}

.logoholder__logs {
  width: 1160px;
  height: 120px;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 322px);
  grid-template-rows: repeat(2, 30px);
  gap: 60px 85px;
  margin-left: 100px;
}
