* {
  margin: 0;
  padding: 0;
}

.root {
  font-family: 'Arial', sans-serif;
  background-color: #000000;
  color: white;
  width: 1440px;
}

.page__header {
  margin: 48px auto 0;
}

.page__collection {
  margin: 134px 0 105px 40px;
}

.page__story {
  margin: 0 0 0 40px;
}

.page__logoholder {
  margin-top: 305px;
}

.page__questions {
  margin: 245px 0 115px 99px;
}

.page__discord {
  margin: 236px 137px 118px 136px;
}
