.story {
  width: 1160px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.story__title {
  margin-top: 240px;
  line-height: 45px;
  font-size: 37px;
  font-weight: 400;
  font-family: 'Audiowide';
}

.story__title_color_grey {
  color: #a8a8a8;
}

.story__container {
  width: 1160px;
  height: 538px;
  margin-top: 61px;
  display: flex;
}

.story__links {
  width: 282px;
  height: 216px;
  list-style: none;
}

.story__links-item {
  width: 282px;
  height: 72px;
  display: flex;
  align-items: center;
  padding-left: 28px;
}

.story__link {
  width: 120px;
  text-decoration: none;
  color: white;
  line-height: 16px;
  font-size: 16px;
  font-weight: 400;
  font-family: 'DM Mono';
}

.story__link_color_green {
  color: #8dfd1b;
}

.story__main-block {
  width: 878px;
  height: 538px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.story__image {
  width: 172px;
  height: 253px;
  align-self: flex-start;
  margin-top: 60px;
}

.story__texts-container {
  width: 546px;
  height: 418px;
}

.story__text-title {
  width: 494px;
  color: #8dfd1b;
  margin-bottom: 32px;
  line-height: 32px;
  font-size: 21px;
  font-weight: 400;
  font-family: 'DM Mono';
  border-left: 1px solid #8dfd1b;
  padding-left: 22px;
  margin-top: 10px;
}

.story__text {
  width: 529px;
  margin-bottom: 18px;
  line-height: 26px;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Inter';
}

.story__text:last-child {
  margin: 0;
}
